@using Rubin2000.Web.Areas.Admin.Models.Appointments
@model DeclineAppointmentViewModel

<div class="container">
    <h1 class="text-center text-danger">Inform the client why you decliened the appointment:</h1>
    <form method="post">
        <div class="form-group">
            @*<label class="font-weight-bold" asp-for="@Model.Description"></label>*@
            <textarea class="form-control text-danger text-center" rows="3" asp-for="@Model.Description" placeholder="We are sorry to inform you that the time you picked is currently unavailable. Please select another hour or pick a new date...">
                </textarea>
            <span asp-validation-for="@Model.Description" class="font-weight-bolder text-danger"></span>
        </div>

        <button type="submit" class="form-control btn btn-danger text-white font-weight-bold">Decline Appointment</button>
    </form>
    <br />
    <a class="badge-danger btn" asp-controller="Appointments" asp-action="MyAppointments">Cancel</a>
</div>
