@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Salon Rubin 2000</h1>
    <p>
        To make an appointment, please
        <a href="/Identity/Account/Login">Sign in</a>
        or <a href="/Identity/Account/Register">Register</a>.
    </p>
</div>
