@using Rubin2000.Web.Models.Procedures;
@model IEnumerable<ProcedureListViewModel>
<h1>Hair prices:</h1>
<ul>
    @foreach (var procedure in Model)
    {
        <li style="list-style-type: none;">
            <h3>@procedure.Name</h3>
            <p>Price: @procedure.Price</p>
            <a class="badge-success" asp-controller="Appointments" asp-action="MakeAppointment" asp-route-id="@procedure.Name">
                Select service
            </a>
        </li>
    }
</ul>
