@using Rubin2000.Services.ForCategories.Models
@model IEnumerable<CategoryWithProceduresServiceModel>
<h1>All prices:</h1>
<div>
    @foreach (var category in Model)
    {
        <h3>@category.Name</h3>
        <ul>
            @foreach (var procedure in category.Procedures)
            {
                <li style="list-style-type: none;">
                    <h3>@procedure.Name</h3>
                    <p>Price: @procedure.Price</p>
                </li>
            }
        </ul>
    }
</div>
