@using Rubin2000.Services.ForEmployees.Models;
@model IEnumerable<EmployeeServiceModel>
<h1>Choose an employee:</h1>
<table>
    <tr>
        <td>Name</td>
        <td>Starts at</td>
        <td>Ends at</td>
        <td></td>
    </tr>
    @foreach (var employee in Model)
    {
        <tr>
            <td>@employee.Name</td>
            <td>@employee.StartsAt</td>
            <td>@employee.EndsAt</td>
            <td><a class="btn-outline-danger btn" asp-controller="Schedules" asp-action="EmployeeSchedule" asp-route-id="@employee.ScheduleId">View Schedule</a></td>
        </tr>
    }
</table>

