<div class="container text-center">
    <div class="card">
        <h2 class="card-header text-white bg-danger">Contact us <i class="bi bi-telephone-fill"></i></h2>
        <div class="card-body">
            <p class="card-text font-weight-bold">0885804169 (A1)</p>
            <p class="card-text font-weight-bold">024168206 (Telenor)</p>
        </div>
    </div>

    <div class="card">
        <h2 class="card-header text-white bg-danger">Address: <i class="bi bi-geo-alt-fill"></i></h2>
        <div class="card-body">
            <a href="https://www.google.com/maps/place/%D0%A1%D0%B0%D0%BB%D0%BE%D0%BD+%D0%A0%D1%83%D0%B1%D0%B8%D0%BD+2000/42.6619307,23.4001301,17z/data=!4m5!3m4!1s0x0:0xea294868b8b9c98c!8m2!3d42.6610267!4d23.4015014">
                <img src="~/imgs/SalonMap.png" />
            </a>
            <p class="card-text text-danger font-weight-bold">Click on the map to open in Google Maps</p>
        </div>
        <div class="card-footer">
            <p class="card-text font-weight-bold">Sofia g.k. Drujba 1</p>
            <p class="card-text font-weight-bold">Tirana Street 25 1592 BG</p>
        </div>
    </div>

    <div class="card">
        <h2 class="card-header text-white bg-danger">Opening hours:</h2>
        <div class="card-body">
            <h3 class="card-title font-weight-bolder">From 10:00 to 19:00</h3>
        </div>
    </div>
    <div class="card-footer border border-danger">
        <h3 class="card-text text-danger font-weight-bold">Find us on <a href="https://www.facebook.com/SalonRubin2000/"><i class="bi bi-facebook"></i></a>!</h3>
    </div>
</div>

